
<div class="browse">

  <div class="container">
    <div class="logo">
      <%= link_to image_tag("logo.png", border: 0), action: 'main', controller: 'pages' %>
    </div>
    <ul>
      <li><h3>Wiki</h3></li>
      <li><h3><%= link_to "Recommendation", controller: "pages", action: "checklist" %></h3></li>
      <li class="right"><h3><%= link_to "Sign up", controller: "pages", action: "signup" %></h3></li>
      <li class="right"><h3><%= link_to "Log in", controller: "pages", action: "login"  %></h3></li>
    </ul>
  </div>
</div>

