
<div class="browse">

  <div class="container">
    <div class="logo">
      <img src="http://upload.wikimedia.org/wikipedia/en/thumb/6/66/Los_Angeles_Clippers_logo.svg/200px-Los_Angeles_Clippers_logo.svg.png">
    </div>
    <ul>
      <li><h3>Wiki</h3></li>
      <li><h3>Recommendation</h3></li>
      <li class="right"><a href="signup.html"><h3>Sign up</h3></a></li>
      <li class="right"><a href="login.html"><h3>Log in</h3></a></li>
    </ul>
  </div>
</div>

