
<%= render 'shared/header' %>

	<div class="container">
	<div class="login">
		<h1> Checklist </h1> <br><br>
 
<form class="form-horizontal" action="/articles/create" method="post">
	  <div class="form-group">
	    <label class="col-md-6 control-label">Are you coding slave?</label>
		    <div class="col-md-6">
    		  <div id="line1" class="btn-group" data-toggle="buttons">
        		<label class="btn btn-default"><input type="radio" name="first" value="1">Yes</label>
        		<label class="btn btn-default"><input type="radio" name="first" value="2">I don't know</label>
        		<label class="btn btn-default"><input type="radio" name="first" value="3">No</label>
      		  </div>
    		</div>
     </div>
     <div class="form-group">
        <label class="col-md-6 control-label">will you do wiring or soldering on Wednesday?</label>
          <div class="col-md-6">
             <div id="line1" class="btn-group" data-toggle="buttons">
        		    <label class="btn btn-default"><input type="radio" name="second" value="1">Yes</label>
        		    <label class="btn btn-default"><input type="radio" name="second" value="2">I don't know</label>
        		    <label class="btn btn-default"><input type="radio" name="second" value="3">No</label>
      		     </div>
    		 </div>
    </div>
    <div class="form-group">
        <label class="col-md-6 control-label">will you drop swpp?</label>
          <div class="col-md-6">
    		   <div id="line1" class="btn-group" data-toggle="buttons">
        		  <label class="btn btn-default"><input type="radio" name="third" value="1">Yes</label>
        		  <label class="btn btn-default"><input type="radio" name="third" value="2">I don't know</label>
        		  <label class="btn btn-default"><input type="radio" name="third" value="3">No</label>
      		   </div>
         </div>
    </div>
    <div class="form-group">
        <label class="col-md-6 control-label">will LA Clippers get the NBA championship?</label>
          <div class="col-md-6">
    		   <div id="line1" class="btn-group" data-toggle="buttons">
        		  <label class="btn btn-default"><input type="radio" name="fourth" value="1">Yes</label>
        		  <label class="btn btn-default"><input type="radio" name="fourth" value="2">I don't know</label>
        		  <label class="btn btn-default"><input type="radio" name="fourth" value="3">No</label>
      		   </div>
         </div>
    </div>
    <button type="submit" class="btn btn-primary">Magic Happens!</button>

</form>
  </div>
</div>

<%= render 'shared/footer' %>
