
<%= render 'shared/header' %>

	<div class="container">
	<div class="login">
		<h1> Checklist </h1> <br><br>
 
<form class="form-horizontal" action="/articles/create" method="post">
	  <div class="form-group">
	    <label class="col-md-8 control-label">Have enough money to spend on hobby.</label>
		    <div class="col-md-4">
    		  <div id="line1" class="btn-group" data-toggle="buttons">
        		<label class="btn btn-default"><input type="radio" name="q1" value="1">Yes</label>
        		<label class="btn btn-default"><input type="radio" name="q1" value="2">I don't know</label>
        		<label class="btn btn-default"><input type="radio" name="q1" value="3">No</label>
      		  </div>
    		</div>
     </div>
     <div class="form-group">
        <label class="col-md-8 control-label">Have experienced or enjoys on-line circle activity.</label>
          <div class="col-md-4">
             <div id="line1" class="btn-group" data-toggle="buttons">
        		    <label class="btn btn-default"><input type="radio" name="q2" value="1">Yes</label>
        		    <label class="btn btn-default"><input type="radio" name="q2" value="2">I don't know</label>
        		    <label class="btn btn-default"><input type="radio" name="q2" value="3">No</label>
      		     </div>
    		 </div>
    </div>
    <div class="form-group">
        <label class="col-md-8 control-label">Like walking alone meditating.</label>
          <div class="col-md-4">
    		   <div id="line1" class="btn-group" data-toggle="buttons">
        		  <label class="btn btn-default"><input type="radio" name="q3" value="1">Yes</label>
        		  <label class="btn btn-default"><input type="radio" name="q3" value="2">I don't know</label>
        		  <label class="btn btn-default"><input type="radio" name="q3" value="3">No</label>
      		   </div>
         </div>
    </div>
    <div class="form-group">
        <label class="col-md-8 control-label">Tend to make decision logically rather than emotionally.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q4" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q4" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q4" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Tend to wait rather than answer immediately even though you know something.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q5" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q5" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q5" value="3">No</label>
             </div>
         </div>
    </div>


    <div class="form-group">
        <label class="col-md-8 control-label">Have lots of experience of hurrying or running to get in line.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q6" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q6" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q6" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Have stronger temptation to buy something that you really don't need.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q7" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q7" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q7" value="3">No</label>
             </div>
         </div>
    </div>


    <div class="form-group">
        <label class="col-md-8 control-label">Quickly adapt in new situation.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q8" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q8" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q8" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Prefer to act immediately rather than speculate about various options</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q9" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q9" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q9" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Like drawing lots.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q10" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q10" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q10" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Curious about performance property of machines or tools.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q11" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q11" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q11" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Deadlines seem to be something of relative, rather than absolute, importance.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q12" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q12" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q12" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">No surprises is better than surprises - bad or good ones.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q13" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q13" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q13" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Be fond of receiving compliments or recognition.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q14" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q14" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q14" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Enjoy controlling or operating something.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q15" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q15" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q15" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Tend to buy souvenirs when you go to trip.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q16" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q16" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q16" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Believe capitalism supports social evolution.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q17" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q17" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q17" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Always want to do new things.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q18" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q18" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q18" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Imagine worlds which are different from the world you live on from time to time.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q19" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q19" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q19" value="3">No</label>
             </div>
         </div>
    </div>


    <div class="form-group">
        <label class="col-md-8 control-label">Avoid revealing oneself to others.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q20" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q20" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q20" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Wish to meet other people and learn their lives.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q21" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q21" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q21" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Feels delight when you create something new.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q22" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q22" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q22" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Tend to fix on your own when you have something not working properly.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q23" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q23" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q23" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Want to go on an adventure if you can.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q24" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q24" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q24" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Often records own feelings, like diary.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q25" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q25" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q25" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Worn out things are also cool if you mend a bit.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q26" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q26" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q26" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Betting makes the game more interesting when you watch sports.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q27" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q27" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q27" value="3">No</label>
             </div>
         </div>
    </div>

    <div class="form-group">
        <label class="col-md-8 control-label">Believe progress of technology brings a more affluent life.</label>
          <div class="col-md-4">
           <div id="line1" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default"><input type="radio" name="q28" value="1">Yes</label>
              <label class="btn btn-default"><input type="radio" name="q28" value="2">I don't know</label>
              <label class="btn btn-default"><input type="radio" name="q28" value="3">No</label>
             </div>
         </div>
    </div>


    <button type="submit" class="btn btn-primary">Magic Happens!</button>

</form>
  </div>
</div>

<%= render 'shared/footer' %>
