
<%= render '/shared/header' %>

    <div class="container marketing">

      <div class="row">
        <div class="col-lg-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Hobby1</h2>
          <p> Simple description.Simple description.Simple description.Simple description.Simple description.Simple description.Simple description.Simple description. </p>
          <p> 
          	<a class="btn btn-primary" href="#" role="button">like</a>

          	<a class="btn btn-warning" href="#" role="button">dislike</a>
          </p>
          <p><a class="btn btn-default" href="#" role="button">Go to wiki &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Hobby2</h2>
          <p> Simple description.Simple description.Simple description.Simple description.Simple description.Simple description.Simple description.Simple description. </p>
          <p>
			<a class="btn btn-primary" href="#" role="button">like</a>

          	<a class="btn btn-warning" href="#" role="button">dislike</a>
          </p>
          <p><a class="btn btn-default" href="#" role="button">Go to wiki &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Hobby3</h2>
          <p> Simple description.Simple description.Simple description.Simple description.Simple description.Simple description.Simple description.Simple description. </p>
          <p>
			<a class="btn btn-primary" href="#" role="button">like</a>

          	<a class="btn btn-warning" href="#" role="button">dislike</a>
          </p>
          <p><a class="btn btn-default" href="#" role="button">Go to wiki &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Hobby4</h2>
          <p> Simple description.Simple description.Simple description.Simple description.Simple description.Simple description.Simple description.Simple description. </p>
          <p>
			<a class="btn btn-primary" href="#" role="button">like</a>

          	<a class="btn btn-warning" href="#" role="button">dislike</a>
          </p>
          <p><a class="btn btn-default" href="#" role="button">Go to wiki &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div> 




    <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class="page-header">
                    <h1><small class="pull-right">45 comments</small> Comments </h1>
                  </div> 
                   <div class="comments-list">
                       <div class="media">
                           <p class="pull-right"><small>5 days ago</small></p>
                            <a class="media-left" href="#">
                              <img class="img-circle profile-img" src="http://upload.wikimedia.org/wikipedia/en/thumb/6/66/Los_Angeles_Clippers_logo.svg/200px-Los_Angeles_Clippers_logo.svg.png">
                            </a>
                            <div class="media-body">
                                
                              <h4 class="media-heading user_name">Moon Gang</h4>
                              i'm not gay
                              
                            </div>
                          </div>
                       <div class="media">
                           <p class="pull-right"><small>5 days ago</small></p>
                            <a class="media-left" href="#">
                              <img class="img-circle profile-img" src="http://upload.wikimedia.org/wikipedia/en/thumb/6/66/Los_Angeles_Clippers_logo.svg/200px-Los_Angeles_Clippers_logo.svg.png">
                            </a>
                            <div class="media-body">
                                
                              <h4 class="media-heading user_name">Sang Eun</h4>
                              i'm gay
                              
                            </div>
                          </div>
                       <div class="media">
                           <p class="pull-right"><small>5 days ago</small></p>
                            <a class="media-left" href="#">
                              <img class="img-circle profile-img" src="http://upload.wikimedia.org/wikipedia/en/thumb/6/66/Los_Angeles_Clippers_logo.svg/200px-Los_Angeles_Clippers_logo.svg.png">
                            </a>
                            <div class="media-body">
                                
                              <h4 class="media-heading user_name">2p</h4>
                              i love sinojaki ai
                              
                            </div>
                          </div>     
                </div>
            </div>
        </div>

<%= render 'shared/footer' %>

<style>


/* recommended */
.marketing {
	margin-top: 60px;
	margin-bottom: 60px;
}

.marketing .col-lg-3 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-3 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* comment */

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.profile-img{
	width: 80px;
	height: auto;
}

</style>
