
<%= render 'shared/header' %>
<div class="container">
	<iframe name='wiki' id="wiki" src="http://revreserver.me:7109/pages/index.html">Your browser does not support iframe.</iframe>
	<!--<div id="wiki"></div>
	<script>
		$http.defaults.headers.put = {
			'Access-Control-Allow-Origin': '*',
		};
		$( "#wiki" ).load("http://revreserver.me:7109/pages/index.html",function(){alert("aaa");})
	</script>-->

<%= render 'shared/footer' %>
