<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href="bootstrap-social-gh-pages\bootstrap-social-gh-pages\bootstrap-social.css" rel="stylesheet">
  <link href="HRS.css" rel="stylesheet">  

</head>


<body>

	<div class="container">
		<h1> Checklist </h1> <br><br>
 
<form class="form-horizontal">
	  <div class="form-group">
	    <label class="col-md-6 control-label">Are you a gay?</label>
		    <div class="col-md-6">
    		  <div id="line1" class="btn-group" data-toggle="buttons">
        		<label class="btn btn-default"><input type="radio" name="one" value="1">Yes</label>
        		<label class="btn btn-default"><input type="radio" name="one" value="2">I don't know</label>
        		<label class="btn btn-default"><input type="radio" name="one" value="3">No</label>
      		  </div>
    		</div>
     </div>
     <div class="form-group">
        <label class="col-md-6 control-label">will you do wiring or soldering on Wednesday?</label>
          <div class="col-md-6">
             <div id="line1" class="btn-group" data-toggle="buttons">
        		    <label class="btn btn-default"><input type="radio" name="two" value="1">Yes</label>
        		    <label class="btn btn-default"><input type="radio" name="two" value="2">I don't know</label>
        		    <label class="btn btn-default"><input type="radio" name="two" value="3">No</label>
      		     </div>
    		 </div>
    </div>
    <div class="form-group">
        <label class="col-md-6 control-label">will you drop swpp?</label>
          <div class="col-md-6">
    		   <div id="line1" class="btn-group" data-toggle="buttons">
        		  <label class="btn btn-default"><input type="radio" name="three" value="1">Yes</label>
        		  <label class="btn btn-default"><input type="radio" name="three" value="2">I don't know</label>
        		  <label class="btn btn-default"><input type="radio" name="three" value="3">No</label>
      		   </div>
         </div>
    </div>
    <div class="form-group">
        <label class="col-md-6 control-label">will LA Clippers get the NBA championship?</label>
          <div class="col-md-6">
    		   <div id="line1" class="btn-group" data-toggle="buttons">
        		  <label class="btn btn-default"><input type="radio" name="four" value="1">Yes</label>
        		  <label class="btn btn-default"><input type="radio" name="four" value="2">I don't know</label>
        		  <label class="btn btn-default"><input type="radio" name="four" value="3">No</label>
      		   </div>
         </div>
    </div>
    <button type="submit" class="btn btn-primary">Magic Happens!</button>

</form>
  
</div>

</body>	